/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
    font-weight: 600;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

button {
    background-color: #007bff;
    width: 70%;
    color: white;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

button:hover {
    background-color: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table td a {
    color: #28a745;
}

table td form {
    display: inline;
}

/* Form Styles */
form {
    background-color: white;
    padding: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form input, form select, form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    width: 70%;
    padding: 3px;
    font-size: 15px;
    margin-top: 5px;
}

/* Flash messages */
.flash-message {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.flash-message.success {
    background-color: #28a745;
    color: white;
}

.flash-message.error {
    background-color: #dc3545;
    color: white;
}

/* Styling the textarea for Description */
form textarea {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 150px;
}

/* Styling the description when viewing a application */
.application-details p {
    font-size: 16px;
    line-height: 1.6;
}

.application-details strong {
    font-weight: bold;
}

